@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://kit.fontawesome.com/b4c6a9f7f2.css');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.linkup{
    text-decoration: none;
}


:root{
    --main-bg-color: #f3f0e9;
    --main-bg-pri-color: #27584e;
    --main-color: #8679BC;
    --main-color2: #fffcd1;
    --main-header-font: 'Playfair Display', serif;
    --main-body-font:'Alata', sans-serif;
    --main-padding: 4em;
}




/*****************  H O M E P A G E *****************/

p{
    font-family: var(--main-header-font);
    font-weight: 500;
}

.firstDiv{
    height: 100vh;
    overflow: hidden;
    background-color: var(--main-bg-color);
}

.logoNameDiv{
    width: 100vw;
    justify-content: center;
    height: 70%;
    display: grid;
    grid-template-rows: 0.7fr 2fr; 
    background-color: white;
}

.logoName{
    color: var(--main-bg-pri-color);
    align-self: center;
    justify-self: center;
    font-size: 4em;
    font-style: italic;
    
}

.imageDiv{
    background-color: var(--main-bg-color);
    width: 100vw;
    background-image: url('../img/peaceOffering.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.toplevel{
    position: relative;
    /* top: -150px; */
}

.toplevel_transition{
    transition: top 500ms ease-out;
}

.downlow{
    top: 0;
}

.fade{
    opacity: 0;
}

.fade_transition{
    transition: opacity 300ms ease-in-out;
}

.fadeout{
    opacity: 1;
}

.displayNone{
    display: none;
}

.displayFlex{
    display: flex;
}

.displayBlock{
    display: block;
}

.bodyBody{
    overflow: hidden;

    height: 100vh;
    width: 100vw;  
    
}


/**************************  S L I D E R******************************/


.testBody{
height: 85%;
width: 100%;
position: relative;
display: flex;
justify-content: center;
top: 6.5em;
background-color: var(--main-bg-color);
}

.testSlider_main{
    overflow: hidden;
    height: 46em;
    width: 70%;

    position: absolute;
    top: -7em;
}

.testSlider_pri{
   animation-name: sliderOpacity;
    animation-duration: 500ms;
    display: flex;
    justify-content: center;
    text-align: center;
    grid-template-rows: 1fr 0.5fr 2fr;

   height: 100%;
   left: 0;
   position: relative;
   overflow: hidden;
}

@keyframes sliderOpacity {
    0%   {opacity: 0;}
    25%  {opacity: 0.5;}
    50% {opacity: 0.75;}
    100%  {opacity: 1;}
  }


.testSlider_pri > div{
    width: 100%;
 
}

.testSlider_pri > div:first-child{
    height: 15%;
    font-size: 4em;
    color: var(--main-bg-pri-color);
    font-style: italic;
}

.testSlider_pri > div:nth-child(2){
    height: 10%;
    font-family: var(--main-body-font);
    font-size: 2em;
}

.testSlider_pri > :last-child{
    height: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sliderThirdDiv3{
    background-image: url(../img/peopleHangingTalk.png);
}

.sliderThirdDiv2{
    background-image: url(../img/personBusy.png);
}

.sliderThirdDiv1{
    background-image: url(../img/peopleYoga.png);
}

.sliderThirdDiv4{
    background-image: url(../img/peopleHangingOnline.png);
}

.main{
    display: block
}

.slidefinal{
    left: 1650px;
}


.slideTrans{
    transition: left 500ms ease-in;
}

.slideBefore{
    left: 0;
}






/************************* S I G N - U P *****************************/

.signupContainer{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 0.2fr 2fr;
}

.signupContain{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    
}

.navigation{
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    margin-bottom: 1em;
    box-shadow: 0.2px 2px rgb(194, 191, 192);
    padding: 0.7em 0;
}

.navigation > div > p{
    font-size: 1.5em;
    font-family: var(--main-header-font);
    font-style: italic;
    color: var(--main-bg-pri-color);
    padding-left: 1em;
    cursor: pointer;
}


.signupFirstDiv > img{
    position: absolute;
}


.signupSecondDiv{
    background-color: white;
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr 0.5fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-image: url('../img/personSignUp.png');
    background-size: contain;
    background-repeat: no-repeat;
}



.signupSecondDiv > p{
font-size: 1.5em;
font-family: var(--main-body-font);
}

/**!IMPORTANT INPUT**/
.formDiv > input{
    font-size: 1em;
    margin: 0.5em 0;
    padding: 1em;
    width: 23em;
    border: solid 0px;
    border-radius: 0.5em;
    font-family: var(--main-body-font);
    background-color: var(--main-bg-color);
}
/****/

.formDiv > input:focus{
    border: #27584e solid 2px;
}


.linkupSubmit{
    background-color: var(--main-bg-pri-color);
    color: white;
    cursor: pointer;
    padding: 0.7em;
    letter-spacing: 0.05em;
    margin-top: 3em;
    font-size: 1em;
    margin: 0.5em 0;
    padding: 1em;
    width: 23em;
    border: solid 0px;
    border-radius: 0.5em;
}


.formDiv{
    display: grid;
    margin-top: -2em;
}

.signupGoogleLogo, .signupButLogin > p{
    font-family: var(--main-body-font);
}


.signupGoogleLogo{
    border-radius: 0.5em;
    border: solid ;
    width: 20em;
    display: flex;
    justify-content: center;
    background-color: black;
    position: relative;
    margin-top: 1em;
    
}

.signupGoogleLogo > button > span{
    color: white;
    font-family: var(--main-body-font);
}


.signupGoogleLogo > button{
    width: inherit;
    height: inherit;
    padding: 0.4em 0;
    background-color: black;
    cursor: pointer;
    border: none;
}

.signupButLogin{
    position: relative;
    width: 12em;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}

.signupButLogin > p:first-child{
    color: rgb(57, 57, 57);
    
}

.linkuplogin{
    color: var(--main-bg-pri-color); 
    font-family: var(--main-body-font);
    cursor: pointer;
}

.googleImg{
    width: 1.5em;
    position: relative;
    top: 0.4em;
    margin-right: 0.7em;
}


.dividingBorder{
    display: none;
}


.loginSecondDiv{
    margin-top: 0;
    height: 75vh;
    position: relative;
    margin-bottom: 300px;
    background-image: url('../img/personSignUp.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 2em;
}



/******************************* MAINPAGE  **********************************/

.material-symbols-outlined{
    font-size: 20px;
    cursor: pointer;
}


#navigation{
    display: flex;
    justify-content: space-between;
}

.navigation_icon{
    margin-right: 2em;
    display: flex;
    justify-content: space-between;
    width: 3em;
}

.navigation_user{
    font-family: var(--main-body-font);
}

.mainPageDiv{
    padding: 1em;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-gap: 3em;
   
}

.mainPageDivSearch > input{
    font-size: 1em;
    border-radius: 0.5em;
    border: solid 0.001em;
    width: 20em;
    padding: 0.2em;
    text-align: center;
    font-family: var(--main-body-font);  
}

.mainPageDivSearch{
    position: relative;
}

.searchLogo{
    position: absolute;
    top: 0.3em;
    left: 0.3em;
    color: gray;
}

.mainPageDivBoard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.mainPageDivVideo{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}



.videoPlay > iframe{
    width: 100%;
    height: 100%;
}

.videoPng{
    width: 100%;
    transform: rotate(20deg);

}

.videoIcon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainPageDivCourse{
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    grid-gap: 1em;
}

.mainPageDivCourses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.mainPageDivCourses1{
}

.mainPageDivCourses1 > p:nth-child(2) > span:first-child{
    position: absolute;
    top: 1px;
    left: 0.8px;
    font-size: 1.2em;
}

.mainPageDivCourses1 > p:nth-child(2) {
    position: relative;
    padding-left: 1.5em;
    color: grey;
    font-family: var(--main-body-font);
    font-size: 0.8em;
}

.mainPageDivCourses1 > p:nth-child(3){
    font-family: var(--main-body-font);
}

.mainPageDivCourses1 > p:nth-child(4){
    font-family: var(--main-body-font);
    color: grey;
}

.mainPageDivCourses2{
}

.mainPageDivBoard1{
    cursor: pointer;
    text-align: center;   

}

.mainPageDivBoard1 > p{
    font-family: var(--main-body-font);
}

.mainPageDivBoard2 > p{
    font-family: var(--main-body-font);
}

.mainPageDivBoard3 > p{
    font-family: var(--main-body-font);
}

.mainPageDivBoard4 > p{
    font-family: var(--main-body-font);
}

.mainPageDivBoard2{
    cursor: pointer;
    text-align: center;  
}

.mainPageDivBoard3{
    cursor: pointer;
    text-align: center;  
}

.mainPageDivBoard4{
    cursor: pointer;
    text-align: center;  
}

.homepageyogapic{
    width: 100%;
    height: inherit;
}

.courseh3{
    font-family: var(--main-body-font);
}












/************************ M E D I A   Q U E R I E S*******************************/
@media screen and (max-width: 1496px){
    .signupFirstDiv > img{
        display: none;
    }

    .formDiv{
        display: grid;
        margin-top: 0.5em;
    }

    .loginSecondDiv{
        background-image: none;
    }

    .signupSecondDiv{
        display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr;
    background-image: none;
    }
}



@media screen and (max-width: 650px){
    .mainPageDivBoard{
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
    }

    .mainPageDivSearch > input{
        font-size: 0.7em;
        border-radius: 0.5em;
        border: solid 0.001em;
        width: 12em;
        padding: 0.1em;
        text-align: center;
        font-family: var(--main-body-font);  
    }

    .navigation_user{
        font-size: 0.8em;
    }

    .material-symbols-outlined{
        font-size: 15px;
        cursor: pointer;
    }

    .navigation_icon{
        margin-right: 1em;
        display: flex;
        justify-content: space-between;
        width: 2em;
    }

    .searchLogo{
        font-size: 1em;
        top: 0.15em;
    }

    .mainPageDivCourses{
        display: grid;
        grid-template-columns: 0.5fr;
        grid-gap: 1em;
    }

    .mainPageDiv{
        padding: 1em;
        display: grid;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-gap: 1em;
    }
}




@media screen and (max-width: 450px){
    
    .mainPageDivVideo{
        display: grid;
        grid-template-columns: 1fr;
    }

    .videoIcon{
        display: none;
    }

    .signupSecondDiv > p{
        margin-left: 1em;
    }

    .formDiv > input{
        padding: 0.7em;
        margin-left: 0.2em;
        margin-right: 0.2em;
        width: 20em;
    }

    .dividingBorder{
        display: block;
        position: relative;
        color: rgb(91, 89, 89);
        width: 20em;
        margin-top: 1em;
    
    }
    
    .dividingBorder >  span{
        position: absolute;
        font-family: var(--main-body-font);
        padding: 0.2em;
        background-color: white;
        left: 9em;
        bottom: -0.7em;
    }

    .formDiv{
        display: grid;
        margin-top: 1em;
    }

    .signupButLogin{
        position: relative;
        width: 12em;
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
    }

    
}